<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net47" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net47" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net47" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net47" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net47" />
</packages>